<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="review_restriction" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Review Restriction</label>
			<tab>manishjoy</tab>
			<resource>ManishJoy_ProductReviewRestriction::config</resource>
			<group id="setup" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Setup</label>
				<field id="enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enable</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment><![CDATA[Enable to restrict adding product review to those customer who purchased the product.]]></comment>
				</field>
			</group>
		</section>
	</system>
</config>
